.comment-section {
  padding: 80px 0;
  background-color: $WhiteSmoke;

  &__header {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: 32px;
  }

  &__comments-list {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__reviews-link {
    position: relative;
    margin-right: 24px;
    padding-right: 5px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      padding: 3px;
      border: solid $Nero;
      border-width: 0 1px 1px 0;
      display: inline-block;
      transform: rotate(-45deg) translate(60%);
    }
  }
}