.requestcall-section {
  position: relative;
  padding: 80px 0;

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 23, 23, 0.93);
  }

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 24px;
    color: $WhiteSmoke;
  }

  &__text {
    margin-bottom: 56px;
    font-size: 24px;
    letter-spacing: 1px;
  }

  &__picture {
    position: absolute;
    right: 50px;
    bottom: -80px;

    &--dino-2 {
      right: inherit;
      left: -260px;
    }
  }
}