@import 'common/mixin'; //миксины
@import 'common/vars'; //переменные
@import 'common/fonts'; //шрифты
@import 'common/global'; //глобальные стили
@import 'common/reset';
@import 'common/libs'; //библиотеки

@import 'components/nav-list'; //навигация
@import 'components/contact'; //номер телефона
@import 'components/info-socials'; //соц.сети
@import 'components/products-card'; // карточка товаров и услуг
@import 'components/arrows'; // стрелки для ссылок
@import 'components/info-form'; // форма заполнения почты, номера, имени

@import 'section/header'; //хэдер
@import 'section/callcenter-section'; // секция заказа звонка
@import 'section/products-section'; // секция товаров и услуг
@import 'section/requestcall-section'; // секция заказа звонка
@import 'section/capabilities-section'; // секция наши возможности
@import 'section/footer'; // футер