.popup {
  z-index: -99;
  opacity: 0;
  position: relative;
  max-width: 755px;
  width: 100%;
  padding: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;
  color: $Nero;
  background-color: $white;
  transition: opacity 0.2s linear;

  &--active {
    z-index: 15;
    opacity: 1;
  }

  &__text {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  &__form {
    z-index: 15;
  }

  .info-form {
    margin-bottom: 24px;

    &__fieldset {
      max-width: inherit;
      color: $cello;
      border-color: $cello;
    }

    &__input {
      color: $Nero;

      &::placeholder {
        color: $manatee;
      }
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 48px;
  }

  &__close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 26px;
    top: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}