.user-comment {
  padding: 0 10px;
  max-width: 356px;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.33;
  color: $Nero;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__avatar {
    margin-right: 12px;
  }

  &__img {
    object-fit: cover;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__name {
    margin-bottom: 4px;
  }

  &__comment {
    margin-bottom: 50px;
  }

  &__comment-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    position: relative;
    padding-right: 10px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      padding: 3px;
      border: solid $Nero;
      border-width: 0 1px 1px 0;
      display: inline-block;
      transform: rotate(-315deg) translate(-50%, -50%);
    }
  }

  .apps-list {
    &__link {
      width: 75px;
    }
  }
}