.portfolio-section {
  position: relative;
  padding: 80px 0;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 13, 13, 0.93);
  }

  &__title {
    margin-bottom: 56px;
    color: $white;
  }

  &__list {
    display: flex;
    margin-bottom: 40px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $white;
    font-size: 24px;

    .arrows {
      &__right {
        padding: 4px;
        margin-left: 5px;
      }
    }
  }

  .products-card {
    display: block;

    &__link {
      &::after {
        content: none;
      }
    }

    &__link-more {
      color: $white;

      &:hover {
        color: $Whisper;

        span {
          border-color: $Whisper;
        }
      }

      .arrows {
        &__right {
          border-color: $white;
        }
      }
    }
  }
}