.products-section {
  padding: 80px 0;
  background-color: $WhiteSmoke;

  &__title {
    margin-bottom: 56px;
  }

  &__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 32px;

    &--sublist {
      padding-top: 48px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}