html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 16px;
  font-family: "CenturyGothic",
    sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: $WhiteSmoke;
  background-image: url('../images/section/callcenter-section/beuty-view.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.hidden {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.logo {
  display: inline-block;
  max-width: 263px;
  width: 100%;
  height: 48px;
  z-index: 3;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 24px 40px;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 14px;
  color: $white;
  background-color: $SafetyOrange;
}

.title {
  font-size: 56px;
  letter-spacing: -0.25px;
  color: $Nero;
}

