$black: #000000;
$OxfordBlue: #263238;
$cello: #39515E;
$manatee: #8F95A5;
$HawkesBlue: #DADDE1;
$white: #FFFFFF;
$Revell: #EEEEEE;
$medium-dark: #546269;

$Nero-900: #141414;
$Nero: #1A1A1A;
$Whisper: #E6E6E6;
$WhiteSmoke: #F2F2F2;
$MangoTango: #F26C0D;
$SafetyOrange: #F56200;

$md1: 1200px;
$md2: 992px;
$md3: 767px;
$md4: 575px;