$black: #000000;
$OxfordBlue: #263238;
$cello: #39515E;
$manatee: #8F95A5;
$HawkesBlue: #DADDE1;
$white: #FFFFFF;
$Revell: #EEEEEE;
$medium-dark: #546269;

$Nero: #1A1A1A;
$WhiteSmoke: #F2F2F2;
$MangoTango: #F26C0D;

$md1: 1200px;
$md2: 992px;
$md3: 767px;
$md4: 575px;